<?xml version="1.0" encoding="utf-8"?>
<!-- XSD extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" throwConfigExceptions="false" internalLogLevel="Error" internalLogToConsole="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- 1048576 = 1MB -->

  <!-- <variable name="ConsoleLayout" value="${level:upperCase=true} | ${logger}[0] | ${message}" /> -->

  <variable name="TimeStampUtc" value="${date:format=yyyy-MM-dd HH\:mm\:ss zzz}" />


  <targets>
    <target name="fileError" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/error.csv" archiveFileName="${basedir}/logs/archives/log.error.{#}.csv" createDirs="true" archiveEvery="Day" archiveNumbering="DateAndSequence" maxArchiveFiles="60" archiveAboveSize="1048576" concurrentWrites="true" keepFileOpen="false" encoding="utf-8">
        <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true">
          <column name="id" layout="${sequenceid}" quoting="Nothing" />
          <column name="time" layout="${TimeStampUtc}" quoting="Nothing" />
          <column name="level" layout="${level:upperCase=true}" quoting="Nothing" />
          <column name="appName" layout="${mdlc:AppName}" quoting="Nothing" />
          <column name="applicationVersion" layout="${mdlc:ApplicationVersion:format=ToString}" quoting="Nothing" />
          <column name="buildNumber" layout="${mdlc:BuildNumber:format=ToString}" quoting="Nothing" />
          <column name="computer" layout="${environment:COMPUTERNAME}" quoting="Nothing" />
          <column name="environment" layout="${mdlc:Environment}" quoting="Nothing" />
          <column name="correlationId" layout="${mdlc:CorrelationId}" quoting="Nothing" />
          <column name="remoteIp" layout="${mdlc:RemoteIp}" quoting="Nothing" />
          <column name="remotePort" layout="${mdlc:RemotePort}" quoting="Nothing" />
          <column name="localIp" layout="${mdlc:LocalIp}" quoting="Nothing" />
          <column name="localPort" layout="${mdlc:LocalPort}" quoting="Nothing" />
          <column name="logger" layout="${logger}" quoting="Nothing" />
          <column name="message" layout="${message}" quoting="All" />
          <column name="exception" layout="${exception:format=ToString}" quoting="All" />
        </layout>
      </target>
    </target>

    <target name="fileAll" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/logall.csv" archiveFileName="${basedir}/logs/archives/logall.{#}.csv" createDirs="true" archiveEvery="Day" archiveNumbering="DateAndSequence" maxArchiveFiles="60" archiveAboveSize="1048576" concurrentWrites="true" keepFileOpen="false" encoding="utf-8">
        <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true">
          <column name="id" layout="${sequenceid}" quoting="Nothing" />
          <column name="time" layout="${TimeStampUtc}" quoting="Nothing" />
          <column name="level" layout="${level:upperCase=true}" quoting="Nothing" />
          <column name="appName" layout="${mdlc:AppName}" quoting="Nothing" />
          <column name="applicationVersion" layout="${mdlc:ApplicationVersion:format=ToString}" quoting="Nothing" />
          <column name="buildNumber" layout="${mdlc:BuildNumber:format=ToString}" quoting="Nothing" />
          <column name="computer" layout="${environment:COMPUTERNAME}" quoting="Nothing" />
          <column name="environment" layout="${mdlc:Environment}" quoting="Nothing" />
          <column name="correlationId" layout="${mdlc:CorrelationId}" quoting="Nothing" />
          <column name="remoteIp" layout="${mdlc:RemoteIp}" quoting="Nothing" />
          <column name="remotePort" layout="${mdlc:RemotePort}" quoting="Nothing" />
          <column name="localIp" layout="${mdlc:LocalIp}" quoting="Nothing" />
          <column name="localPort" layout="${mdlc:LocalPort}" quoting="Nothing" />
          <column name="logger" layout="${logger}" quoting="Nothing" />
          <column name="message" layout="${message}" quoting="All" />
          <column name="context" layout="${all-event-properties:format=[key]=[value]}" quoting="All" />
        </layout>
      </target>
    </target>

    <target name="fileApp" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/logapp.csv" archiveFileName="${basedir}/logs/archives/logapp.{#}.csv" createDirs="true" archiveEvery="Day" archiveNumbering="DateAndSequence" maxArchiveFiles="60" archiveAboveSize="1048576" concurrentWrites="true" keepFileOpen="false" encoding="utf-8">
        <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true">
          <column name="id" layout="${sequenceid}" quoting="Nothing" />
          <column name="time" layout="${TimeStampUtc}" quoting="Nothing" />
          <column name="appName" layout="${mdlc:AppName}" quoting="Nothing" />
          <column name="applicationVersion" layout="${mdlc:ApplicationVersion:format=ToString}" quoting="Nothing" />
          <column name="buildNumber" layout="${mdlc:BuildNumber:format=ToString}" quoting="Nothing" />
          <column name="computer" layout="${environment:COMPUTERNAME}" quoting="Nothing" />
          <column name="environment" layout="${mdlc:Environment}" quoting="Nothing" />
          <column name="correlationId" layout="${mdlc:CorrelationId}" quoting="Nothing" />
          <column name="remoteIp" layout="${mdlc:RemoteIp}" quoting="Nothing" />
          <column name="remotePort" layout="${mdlc:RemotePort}" quoting="Nothing" />
          <column name="localIp" layout="${mdlc:LocalIp}" quoting="Nothing" />
          <column name="localPort" layout="${mdlc:LocalPort}" quoting="Nothing" />
          <column name="logger" layout="${logger}" quoting="Nothing" />
          <column name="message" layout="${message}" quoting="All" />
          <column name="context" layout="${all-event-properties:format=[key]=[value]}" quoting="All" />
        </layout>
      </target>
    </target>

    <target name="fileEf" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/logef.csv" archiveFileName="${basedir}/logs/archives/logef.{#}.csv" createDirs="true" archiveEvery="Day" archiveNumbering="DateAndSequence" maxArchiveFiles="60" archiveAboveSize="1048576" concurrentWrites="true" keepFileOpen="false" encoding="utf-8">
        <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true">
          <column name="id" layout="${sequenceid}" quoting="Nothing" />
          <column name="time" layout="${TimeStampUtc}" quoting="Nothing" />
          <column name="level" layout="${level:upperCase=true}" quoting="Nothing" />
          <column name="appName" layout="${mdlc:AppName}" quoting="Nothing" />
          <column name="applicationVersion" layout="${mdlc:ApplicationVersion:format=ToString}" quoting="Nothing" />
          <column name="buildNumber" layout="${mdlc:BuildNumber:format=ToString}" quoting="Nothing" />
          <column name="computer" layout="${environment:COMPUTERNAME}" quoting="Nothing" />
          <column name="environment" layout="${mdlc:Environment}" quoting="Nothing" />
          <column name="correlationId" layout="${mdlc:CorrelationId}" quoting="Nothing" />
          <column name="remoteIp" layout="${mdlc:RemoteIp}" quoting="Nothing" />
          <column name="remotePort" layout="${mdlc:RemotePort}" quoting="Nothing" />
          <column name="localIp" layout="${mdlc:LocalIp}" quoting="Nothing" />
          <column name="localPort" layout="${mdlc:LocalPort}" quoting="Nothing" />
          <column name="logger" layout="${logger}" quoting="Nothing" />
          <column name="message" layout="${message}" quoting="All" />
          <column name="context" layout="${all-event-properties:format=[key]=[value]}" quoting="All" />
        </layout>
      </target>
    </target>


    <target name="colorconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" detectConsoleAvailable="true">
      <highlight-word foregroundColor="DarkGreen" regex="^info" />
      <highlight-word foregroundColor="Yellow" regex="^warn" />
      <highlight-word foregroundColor="Black" backgroundColor="Red" regex="^fail" />
      <highlight-word foregroundColor="White" backgroundColor="Red" regex="^crit" />
    </target>

  </targets>


  <rules>
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="fileError" />
    <logger name="Microsoft.Hosting.Lifetime" level="Trace" maxlevel="Warn" writeTo="fileApp" final="true" />
    <logger name="Microsoft.EntityFrameworkCore*" level="Trace" maxlevel="Warn" writeTo="fileEf" final="true">
      <filters defaultAction='Log'>
        <when condition="contains('${message}','HealthChecks')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="fileApp" final="true" />
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="fileAll" />
  </rules>

</nlog>
